.header {
  text-align: center;
  background-color: var(--color-white);
  height: 324px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.header h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: var(--color-green)
}

.header p {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: var(--color-dark-green)
}

@media only screen and (max-width: 600px) {
  .header {
    height: 180px;
  }

  .header h1 {
    font-size: 2rem;
  }
  .header p {
    font-size: 1rem;
  }
}
